/*toplayer{
	display: grid;
	grid-template-columns: 20% 60%  20%;
	grid-auto-rows: 40px;
	position: sticky;
}
.logo,
.searchbar,
.last-top-bar{
	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 10em;
	border: 1px solid black;
	background: blue;
	opacity: .5;
}
.two-layer{
	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 10px;
}
.chat-list{
	display: grid;
	grid-template-columns: 20% 80%;
	background: limegreen;
	border: 1px solid black;
	justify-content: center;
}
.chat-thumb{
	height: 100%;
	width: 100%;
}
.user-name{
	width: 100%;
	padding-left: 20px;
}
.grid-container{
	height: 100vh;
	border: 10px solid #14a76c
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 150px 250px;
	/*grid-gap: 2px 2px;*/
	/*grid-template-rows: 200px 200px;
	justify-content: center;
	align-content: center;
	align items horizontally
	justify-items: center; 
	align items vertically	
	align-items: center;
}
.user-image{
	border: 1px solid #fff; 
	background-image: url(login4.png);
	height: 25px;
	width: 25px;
	margin-top: 3.5px;
	margin-left: 25%;
}*/

*{
	/*BASIC DOCUMENT STYLE*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 30px;
	font-family: helvetica;
}
.Item-1{
/* top search bar starts */
	display: grid;
	grid-template-columns: 3fr 3fr 1fr 1fr;
	background-color: #392821;
	height: 6vh;
	color: black;
}
/* search box starts */
.search-box{
	padding-top: 4px;
	height: 1vh;
	color: black;
}
/* inside of search box */
#search-placeholder{
	border-radius: 5px;
	height: 1vh;
	background-color: #6b4b3e;
	color: black;
	margin-left: 25%;
	text-indent: 10px;
	align-items: center;
	float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    font-size: medium;
    border: none;
}
#search-placeholder:focus{
	outline: none;
	color:white;
}
::placeholder{
  color: white;
  opacity: 0.8;
}
.login-user-img{
/* top login image on right starts */
	margin-top: 4px;
	margin-left: 25%;
	height: 30px;
	width: 30px;	
}
/* vertical chat bar starts */
.vertical-chat-bar{
/* vertical bar on left grid basic grid */
	display: grid;
	grid-template-columns: 1fr 5fr;
	background-color: #f8f4f9;
	height: 6vh;
}
.side-bar-block{
/* vertical bar */
	grid-row-start: 1;
	height: 94vh;
	grid-column-end: 2;
	background-color: #c49e85;
	border-top: 0.25px solid #f8f4f9;
	overflow-y: scroll;
}
.user-name{
/* user name block on left vertical bar */	
	display: grid;
	grid-template-columns: 1fr 7fr;	
	height: 6vh;
	border-bottom: 1px solid rgba(248, 244, 249, 0.15)
}
.user-name:hover{
	background-color: #754f38;
}
.org-name{
/* first name of organization on vertical bar */
	display: grid;
	grid-template-columns: 1fr 7fr;	
	height: 8vh;
	padding: 10px 5px 5px 5px;
	border-bottom: 1px solid rgba(248, 244, 249, 0.15)
}
.org-name img{
/* hamburger icon on org name */
	padding-top: 10px;
	padding-left: 10px;
	width: 30px;
	height: 30px;
}
.user-1{
/* hamburger icon on org name */
	height: 30px;
	width: 30px;
	padding-top: 5px;
	padding-left: 5px;
	border-radius: 50%;
}
.user-name-ind{
/* name if users on vertical bar */
	font-size: 14px;
	font-weight: bold;
	padding-top: 11px;
	padding-left: 13px;
	color: #3c2820;
}
.user-name-ind:hover{
	color: white;
}
.chat-area{
/* chat area basic properties on right side below search bar */
	display: grid;
	grid-template-rows: 1fr 1fr 5fr 2fr; 
	height: 94vh;
	grid-column-start: 2;
	background-color: #f8f4f9;
}
.display-name-area{ 
/* block of the username on top of the chat */
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #f7f7f7;
	border-bottom: 1px solid rgba(126, 126, 126, 0.25)
	
}
.display-name-area > .name-top-chat{
/* username on top of the chat*/
	font-size: 16px;
	margin-left: 25px;
	text-decoration: none;
	color: #6b4b3e;
	font-weight: bold;
}
.display-info-area{
/* info area below username and chat messages on */
	grid-row-start: 2;
	background-color: #f1f1f1;
	border-bottom: 1px solid rgba(107, 75, 62, 0.15)
	/*padding-bottom: 15px;	*/
}
.message-display-area{
/* area of chat messages*/
	display: grid;
	/*background-color: #f8f1ee;*/
	overflow-y: scroll;
	border-bottom: 1px solid rgba(107, 75, 62, .25);
	border-bottom: 0  solid #6b4b3e;
	margin: 5px;
}

.individual-message{
	display: grid;
	grid-template-rows: 1fr 4fr;
	height: 100px;
	border-radius: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(107, 75, 62, 0.5)
}
.info-bar-chat-message{
	display: grid;
	grid-template-columns: 1fr 1fr 4fr 2fr;
	}
.chat-user-name{
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
	font-color: #6b4b3e;/*
	background-color: blue;*/
	border-radius: 15px;
}
.chat-time-stamp{
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
	font-color: #6b4b3e;/*
	background-color: yellow;*/
	border-radius: 15px;
}
.mid-blank-info-bar{
/*	background-color: red;
*/	border-radius: 15px;
}
.chat-options-hover{
	/*background-color: green;*/
	border-radius: 15px;
}
.chat-menu-img {
	display: none;
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	height: 15px;
	width: 15px;
}

.individual-message:hover .chat-menu-img{
	display: block;
	transition-timing-function: ease-in;

}
.body-chat-message{
	/*background-color: limegreen;*/
	border-radius: 15px;
}
/* could not figured out how to change color of alternate chat messages

.info-area:nth-child(odd) {
	background-color: red;
}*/

.chat-box{
/* chat box on bottom right */
	display: grid;
	grid-row-start: 4;
	grid-template-rows: 2fr 1fr; 
	width: 95%;
	margin-bottom: 22px;
	margin-top: 32px;
	margin-left: 30px;
	border: 3px solid #edc4b3;
	border-radius: 5px;

}
.display-type-area{
/* text type area in chat box */
	width: 100%;
	background-color: #f1f1f1;
	padding: 10px 10px 10px 10px ;
	margin-left: 0px;
	overflow-y: scroll;
	font-size: 12px;
	font-family: helvetica;
}

.display-type-area:focus{
	outline: none;
	padding: 10px 10px 10px 10px ;
}
.text-tools{
/* text tools on lower area of chat box*/
	background-color: #edc4b3;
}
.make-text-bold{
/* text tools B */
	font-size: 12px;
	margin-left: 15px;
	font-weight: bold;
	
}
.make-text-italics, .make-text-underline{
/* text tools italics and underline */
	font-size: 12px;
	font-weight: bold;
}
.make-text-strikethrough{
/* text tools strikethrough */
	font-size: 12px;
	font-weight: bold;
	margin-left: 15px;
}
.make-text-code{
/* text tools code */
	font-size: 12px;
	font-weight: bold;
}
.list-icon{
/* text tools hamburger icon */
	font-size: 12px;
}
::-webkit-scrollbar{
	width: 6px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(#c49e85, #6b4b3e);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
	background: #6b4b3e;
	border-radius: 6px;
}



/* vertical chat bar ends */